@media only screen and (max-width: 600px) {
    h1{
        font-size: 16px;
        color: darkblue;  
    }
    #About li {
        padding: 5px;
        background-color: lightgreen;
    }
    .social-link {
        font-size: 30px;
        color: darkred;
    }
} /*this is for extra small screens*/

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 18px;
        color: darkblue;  
    }
    #About li {
        margin: 10px 0;
        background-color: lightcoral;
    }
    .social-link {
        font-size: 16px;
        color: darkmagenta;
    }
} /*this is for small screens*/

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 20px;
        color: darkcyan;  
    }
    #About li {
        padding: 15px;
        background-color: #AFEEEE;
    }
    .social-link {
        font-size: 18px;
        color: #A52A2A;
    }
} /*this is for medium screens*/

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 22px;
        color: #4169E1;  
    }
    #About li {
        margin: 20px 0;
        background-color: #FFFACD;
    }
    .social-link {
        font-size: 20px;
        color: #FA8072;
    }
} /*this is for large screens like desktops or laptops*/

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 24px;
        color: #0000CD;  
    }
    #About li {
        padding: 25px;
        background-color: #E6E6FA;
    }
    .social-link {
        font-size: 20px;
        color: #FF4500;
    }
} /*this is for extra large screens like Macbook desktops or the large curved Windows desktops*/

body {
    background-color: #DB9625;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px black;
}
h2 {
    color: #D2A1E8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px black;
}
#About li {
    list-style: none;
    font-size: 20px;
}
#experience {
    margin: 20px 0;
}
.experience-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.job-title {
    margin-right: 10px;
}
.job-dates {
    text-align:right ;
    flex-grow: 1;
}
.job-description {
    margin-block: 10px;
}
#Connect {
    margin: 20px 0;
}
.social-media-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-link {
    text-decoration: pink wavy underline;
    background: green;
}
.social-link2 {
    font-size: 20px;
    text-decoration: pink wavy underline;
    color: turquoise;
    background: green;
}
.social-link3 {
    font-size: 20px;
    text-decoration: pink wavy underline;
    color: turquoise;
    background: green;
}