body {
    background-color: #DB9625;
}
h1{
    color: #1BECEC;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px black;
}
h2 {
    color: #D2A1E8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px black;
}
#About li {
    list-style: none;
    font-size: 20px;
}
#experience {
    margin: 20px 0;
}
.experience-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.job-title {
    margin-right: 10px;
}
.job-dates {
    text-align:right ;
    flex-grow: 1;
}
.job-description {
    margin-block: 10px;
}
#Connect {
    margin: 20px 0;
}
.social-media-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-link {
    font-size: 20px;
    text-decoration: pink wavy underline;
    color: turquoise;
    background: green;
}
.social-link2 {
    font-size: 20px;
    text-decoration: pink wavy underline;
    color: turquoise;
    background: green;
}
.social-link3 {
    font-size: 20px;
    text-decoration: pink wavy underline;
    color: turquoise;
    background: green;
}